################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/bridge/runtime
/node_modules
/plugins
/bt.dat
/node.dll
/server.exe
/package-lock.json
/client_packages/.listcache